body.public {
  background: $ma-bg-color;

  h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: lighter;
  }

  .content-wrapper {
    background: #f7f7f7;
  }

  footer {
    height: 200px;
    background: $ma-bg-color;
    color: #cccccc;
    nav {
      a {
        color: #333;
        font-weight: lighter;
        &:hover {
          color: #ffffff;
          text-shadow: 1px 1px 2px #000;
        }
      }
      ul {
        list-style-type: none;
        text-align: center;
      }
      li {
        display: inline-block;
        padding: 30px 10px;
      }
    }
  }

}

