<div class="home-video radius">
    <i data-ng-if="!videoPlaying" class="home-video-icon fi-play-circle" data-ng-click="startVideo()"></i>
    <iframe data-ng-if="videoPlaying" width="[[ width ]]" height="[[ height ]]" data-ng-src="[[ videoUrl ]]" frameborder="0" allowfullscreen></iframe>
</div>