$ma-bg-color: #C2D1D8;
$ma-highlight-color: #2A6177;

em.ma-highlight {
  font-style: normal;
  color: $ma-highlight-color;
}

[data-ma-video],
[ma-video] {
  display: block;
  width: 100%;
  height: auto;
}